.clients__name {
  @include GatewayForProperty($h5-font-size, $h2-font-size, $page-min-width, map_get($grid-breakpoints, 'xxl'));
  font-weight: $font-weight-light;
  line-height: $clients-tile-line-height;
  min-height: ($line-height-base * 3) + em;
  z-index: 10;
  position: relative;
}