.about-project__frontside {
  height: $about-project-height;
  transform: translateZ($about-project-height/2);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  @include media-breakpoint-down(md){
    height: $about-project-height / 1.5;
    transform: translateZ($about-project-height / 1.5 / 2);
  }
}