.director__img {
  width: $director-img-size;
  height: $director-img-size;
  display: inline-block;
  vertical-align: middle;
  border-radius: $director-img-size;
  @include media-breakpoint-up(md){
    margin-right: $grid-gutter-width;
  }
}