.nav-btn {
  float: right;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: $font-size-base;
  text-decoration: none;
  span{
    background-color: $nav-btn-bg;
    flex: 0 0 auto;
    &:nth-of-type(2){
      margin: 5px 0;
    }

  }
}