.advantage__pagination {
  .swiper-pagination-bullet{

    width: $advantage-pagination-size !important;
    height: $advantage-pagination-size !important;
  }
}
.swiper-container-horizontal > .swiper-pagination-bullets{
  &.swiper-pagination-bullet{
    margin: $advantage-pagination-margin;
  }
  bottom: $grid-gutter-width * 1.33;
  @include media-breakpoint-down(md){
    bottom: $grid-gutter-width / 3;
  }
}