.about-project__title {
  display: inline-block;
  vertical-align: middle;
  color: $white;
  @include GatewayForProperty($h5-font-size, $h2-font-size, $page-min-width, map_get($grid-breakpoints, 'xl'));
  &:not(:last-child){
    margin-right: $grid-gutter-width;
  }
  letter-spacing: 2px;
}