.about-project__backside {
  height: $about-project-height;
  transition: $transition-base;
  transition-property: background-color;
  transform: rotateX(-90deg) translateZ(-$about-project-height/2);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  @include hover-focus(){
    text-decoration: none;
  }
  @include media-breakpoint-down(md){
    height: $about-project-height / 1.5;
    transform: rotateX(-90deg) translateZ(-$about-project-height / 1.5 / 2);
  }

}