.language__btn {
  color: $language-color;
  font-size: $font-size-sm;
  line-height: $line-height-base;
  letter-spacing: $font-size-sm * 0.3;
  margin-right: - $font-size-sm * 0.3;
  &:after{
    display: none;
  }
  &:hover{
    color: darken($language-color, 20%);
    text-decoration: none;
  }
}