.preview {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 85px;
  transition: $transition-base;
  transition-property: opacity;
}

.row:hover  .preview {
  opacity: 0.5;
}

.row:hover  .preview:hover{
  opacity: 1;
}