.advantage__pagination_align {
  &_center{
    text-align: center;
  }
  @include media-breakpoint-up(md){
    &_left{
      text-align: left;
      left: $grid-gutter-width*2 !important;
      .swiper-pagination-bullet{
        &:first-of-type{
          margin-left: 0;
        }
      }
    }
    &_right{
      text-align: right;
      right: $grid-gutter-width*2 !important;
      left: auto !important;
      .swiper-pagination-bullet{
        &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }
}