.blog__title {
  @include GatewayForProperty($h1-font-size, $display1-size, $page-min-width, map_get($grid-breakpoints, 'xl'));
  font-weight: $font-weight-bold;
  opacity: 0.1;
  color: $gray-600;
  position: absolute;
  bottom: 0;
  left: -5px;
  line-height: 0.9;
}