// Переменные шаблона !default;

//----color----
$blue:    #2E90D7 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ED1C24 !default;
$red-dark:#D72E34 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #71C2CD !default;


$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #CFD8DC !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #62727B !default;
$gray-800: #343a40 !default;
$gray-900: #212121 !default;
$black:    #000 !default;

$primary:       $red !default;
$secondary:     $gray-400 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


$colors: (
        "black":       $black,
) !default;

//----grid----

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1660px,
) !default;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1600px
) !default;

$grid-gutter-width: 30px;
$spacer: $grid-gutter-width !default;
$spacers: (
        'x': 3px,
        's': 5px,
        'm': 10px,
        'l': 20px,
        'xl': 40px,
        'xxl': 60px,
        'xxxl': 90px,
) !default;



//----font----

$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-size-base: 1rem !default;
$font-size-lg: rem(18px) !default;
$font-size-xl: rem(20px) !default;
$font-size-sm: rem(12px) !default;
$font-size-md: rem(14px) !default;

$h1-font-size:        rem(48px) !default;
$h2-font-size:        rem(36px) !default;
$h3-font-size:        rem(24px) !default;
$h4-font-size:        rem(20px) !default;
$h5-font-size:        rem(18px) !default;
$h6-font-size:        $font-size-base !default;

$display1-size:               rem(90px)!default;
$display2-size:               rem(60px) !default;
$display3-size:               rem(40px) !default;
$display4-size:               rem(30px) !default;

$display1-weight:             800 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;

$headings-line-height: 1.1 !default;

$heading-up-breakpoint: xxl;

$paragraph-margin-bottom: 50px !default;

$line-height-base: 1.38 !default;

$font-weight-light: 200 !default;
$font-weight-base: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extrabold: 800 !default;
$font-weights: () !default;

// stylelint-disable-next-line scss/dollar-variable-default
$font-weights: map-merge(
                (
                        light: $font-weight-light,
                        base: $font-weight-base,
                        semibold: $font-weight-semibold,
                        bold: $font-weight-bold,
                        extrabold: $font-weight-extrabold
                ),
                $font-weights
);

//----header----
$header-width: $page-min-width !default;
$header-padding: 40px !default;
$header-color: #ffffff !default;
//--logo--
$logo-width-sm: 192px !default;
$logo-width-lg: 237px !default;
//--select-language
$language-color: $secondary !default;
//--nav-btn--
$nav-btn-height: 3px !default;
$nav-btn-width-sm: 3px !default;
$nav-btn-width-lg: 25px !default;
$nav-btn-bg: $black !default;
//--link--
$link-color: $gray-900 !default;

//header--

//----main----

//--advantage--
$advantage-pagination-margin: 0 8px !default;
$advantage-pagination-size: 12px !default;

//--info--
$info-column-count: 3 !default;
$info-column-gap: 30px !default;
$info-column-width: 430px !default;

//--clients--
$clients-min-width: 430px !default;
$clients-tile-line-height: 1.2 !default;

//--about-project--
$about-project-height: 150px;

//-arrow-
$arrow-width: 230px !default;
$arrow-heidht: 5px !default;
$arrow-tip-width: 30px !default;

//--preview--
$preview-img-size: 30px;

//--director--
$director-img-size: 125px;
//main--
