.header {
  width: $header-width;
  padding: $header-padding;
  background-color: $header-color;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  @include media-breakpoint-down(md) {
    z-index: $zindex-fixed;
    transform: translateX(-100%);
    transition: $transition-base;
    transition-property: transform;
    will-change: transform;
    &.show{
      transform: translateX(0%);
    }
  }
}