.hidden-title__backside {
  @include GatewayForProperty($display2-size, $display1-size, $page-min-width, map_get($grid-breakpoints, 'xxl'));
  color: $white;
  opacity: 0.1;
  line-height: 1;
  pointer-events: none;
}