.preview__section {
  display: inline-block;
  font-size: $font-size-sm;
  color: $white;
  padding: $grid-gutter-width / 5 $grid-gutter-width / 2;
  background-color: $gray-700;
  border-radius: $border-radius-lg;
  @include plain-hover-focus(){
    text-decoration: none;
    color: $white;
  }
  @include hover(){
    background-color: darken($gray-700, 10%);

  }
}