.advantage__link {
  .a{
    color: $white;
    span{
      border-bottom: 1px dotted;
    }
    @include plain-hover-focus(){
      text-decoration: none;
    }
  }

  @include media-breakpoint-up(md){
    .a{
      display: block;
      height: 100%;
      flex: 1 1 #{'calc('percentage(4 / $grid-columns)' + 0px)'};
      padding: $spacer / 2 $spacer * 2/3;
      border: $border-width solid $gray-200;

      @include hover(){
        background-color: $white;
        color: $black;
      }

    }
  }
}