.breadcrumb_swiper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  &:after{
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $grid-gutter-width * 2;
    z-index: 1;
    background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 1) 100%);
  }
  .breadcrumb-item {
    width: auto;
    height: auto;
    display: block;
    a{
      text-decoration: none;
    }
    &:before{
      color: $primary;
    }
  }
}