.info__header {
  &:not(:last-child){
    margin-bottom: $grid-gutter-width;
  }
  @include media-breakpoint-up(xl){
    column-count: $info-column-count;
    column-gap: $info-column-gap;
    column-width: $info-column-width;
    &:not(:last-child){
      margin-bottom: $grid-gutter-width * 2;
    }
  }

}