.ui-datepicker{
  display: none;
  background-color: $dropdown-bg;
  box-shadow: $box-shadow-down-template;
  padding: $grid-gutter-width/1.5;
  font-size: $font-size-sm;
  margin-top: $s;
  &-next,
  &-prev{
    line-height: 1;
    font-size: $font-size-base;
    cursor: pointer;
  }
  &-next{
    order: 1;
  }
  .ui-icon{
    text-indent: 0;
    cursor: pointer;
  }
}
.ui-datepicker-header{
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $grid-gutter-width/1.5;
}
.ui-datepicker-title{
  display: flex;
  select{
    @include form-control();
    @include form-control-sm();
    &:not(:first-child){
      margin-left: $grid-gutter-width/3;
    }
  }
}
.ui-datepicker-calendar{
  width: 100%;
  text-align: center;
  th{
    font-weight: inherit;
  }
  td{
    vertical-align: middle;
    line-height: 1;
  }
  span,
  a{
    display: block;
    width: $grid-gutter-width;
    height: $grid-gutter-width;
    line-height: $grid-gutter-width;
    @include plain-hover-focus(){
      text-decoration: none;
      color: inherit;
    }
  }
  .ui-state{
    &-default{}
    &-hover{
      background-color: $gray-100;
    }
  }
}
.ui-datepicker-current-day{
  .ui-state-hover,
  .ui-state-default{
    background-color: $primary;
    color: $white;
  }
}
.ui-icon-circle-triangle-w:before{
  @include fi('angle-left');
}
.ui-icon-circle-triangle-e:before{
  @include fi('angle-right')
}