.preview__link {
  font-size: $font-size-xl;
  color: $gray-700;
  &:not(:first-child){
    margin-left: $grid-gutter-width * 2/3;
  }
  @include plain-hover-focus(){
    text-decoration: none;
  }
  @include hover(){
    color: darken($gray-700, 10%);
  }
}