$column-count: 6;
$column-gap : $grid-gutter-width;
%column {
  column-width: $page-min-width;
  column-gap: $column-gap;
}
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  @for $i from 1 through $column-count{
    .columns#{$infix}-#{$i} {
      @extend %column;
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        column-count: $i;
      }
    }
  }
}
