.contacts__icon {
  display: inline-block;
  font-size: $font-size-sm * 2;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    width: 1px;
    margin-left: -1px;
    vertical-align: middle;
  }
  //font-size: $font-size-sm * 2;
  color: $primary;
  &:not(:last-child){
    margin-right: $grid-gutter-width/3;
  }
}