.clients__tile {
  flex: 1 1;
  flex-basis: 420px;
  width: 33.333%;
  @include media-breakpoint-down(xl){
   flex-basis: #{'calc('percentage(6 / $grid-columns)' + 0px)'};
  }
  @include media-breakpoint-down(md){
    flex-basis: #{'calc('percentage(12 / $grid-columns)' + 0px)'};
  }

  background-color: $gray-900;
  position: relative;
  color: $white;
  border: $border-width solid rgba($white, 0.1);
  transition: $transition-base;
  transition-property: background-color;
  @include hover(){
    text-decoration: none;
    color: $white;
    .clients__bg{
      opacity: 1;
    }
  }
  padding-top: $grid-gutter-width * 1.75;
  padding-right: $grid-gutter-width * 4;
  padding-left: $grid-gutter-width * 2;
  padding-bottom: $grid-gutter-width * 2;
  @include media-breakpoint-down(md){
    padding: $grid-gutter-width / 2;
  }
}