.hidden-title__frontside {
  @include GatewayForProperty($h3-font-size, $h1-font-size, $page-min-width, map_get($grid-breakpoints, 'xxl'));
  line-height: $line-height-lg;
  margin-top: - ($line-height-base + em);
}