.leader__img {
  position: absolute;
  right: 0;
  pointer-events: none;
  max-width: 35vw;
  transform: translateY(-25%);
  @include media-breakpoint-up(xl) {
    transform: translateY(-40%);

  }
  @include media-breakpoint-up(xxl){
    right: 75px;
  }
}