.search__btn {
  border: none;
  background: none;
  margin-right: $grid-gutter-width / 5;
  padding: 0;
  height: 19px;
  flex: 0 1 auto;
  cursor: pointer;
  .fi{
    color: $red;
    font-size: 19px;
  }
}