.language {
  color: $language-color;
  text-transform: uppercase;
  font-size: $font-size-sm;
  letter-spacing: $font-size-sm * 0.3;
  border: none;
  float: right;
  border-bottom: 1px dotted;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }

  &:not(:first-of-type){
    margin-top: $spacer / 10;
  }
}