.achievement__icon {
  font-size: 96px;
  margin-right: 30px;
  line-height: 1;

  @include media-breakpoint-down(lg){
    font-size: $line-height-base * 2+em;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      width: 0px;
      vertical-align: middle;
    }
    align-items: center;
  }
}