.preview__author {
  span{
    display: block;
    font-size: $font-size-md;
    line-height: $headings-line-height;
    color: $gray-700;
    &:first-child{
      font-weight: $font-weight-bold;
    }
  }

  &:not(:first-child){
    padding-left: $grid-gutter-width / 2;
  }
}