.info__title {
  font-weight: $font-weight-extrabold;
  line-height: $headings-line-height;
  @include GatewayForProperty(
    $h4-font-size,
    $h2-font-size,
    $page-min-width,
    map_get($grid-breakpoints, 'xl')
  );
}