.about-project__arrow {
  display: none;
  &:after, &:before{
    content: '';
    width: $arrow-tip-width;
    height: $arrow-heidht;
    border-radius: $border-radius;
    position: absolute;
    right: -4px;
    background-color: $white;
  }
  &:after{
    top:-10px;
    transform: rotate(45deg);
  }
  &:before{
    bottom:-10px;
    transform: rotate(-45deg);
  }
  height: $arrow-heidht;
  border-radius: $border-radius;
  width: $arrow-width;
  background-color: $white;
  position: relative;


  @include media-breakpoint-up(xl){
    display: inline-block;
  }
}