.start-work__title {
  line-height: $headings-line-height;
  font-weight: $font-weight-bold;
  @include GatewayForProperty($h2-font-size, $display2-size, $page-min-width, map_get($grid-breakpoints, 'xxl'));
  margin-bottom: $grid-gutter-width;
  margin-top: $grid-gutter-width *2 / 3;
  @include media-breakpoint-down(sm){
    margin-bottom: 0;
    margin-top: 0;
  }
}