.contacts__text {
  font-size: rem(20px);
  vertical-align: middle;
  display: inline-block;
  .a {
    border-bottom: 1px dotted;
    @include hover(){
      border-bottom-color: transparent;
    }
    @include plain-hover-focus(){
      text-decoration: none;
    }

  }
  //flex: 0 1 auto;
  //font-size: $font-size-xl;
}