.language__item {
  color: $language-color;
  text-align: center;
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-base;
  padding: $spacer / 10;
  letter-spacing: $font-size-sm * 0.3;
  &:hover{
    color: darken($language-color, 20%);
  }
}