.link-opacity {
  background-color: rgba($white,0.1);
  transition: $transition-base;
  color: inherit;
  font-weight: $font-weight-base;
  transition-property: background-color;
  @include GatewayForProperty($h5-font-size, $h3-font-size, $page-min-width, map_get($grid-breakpoints, 'xxl'));
  @include plain-hover-focus(){
    text-decoration: none;
    color: inherit;
  }
  @include hover(){
    background-color: rgba($white, 0.3);
  }
  @include media-breakpoint-down(md){
    white-space: normal;
  }
}