.nav-links__link {
  border-bottom: 1px solid;
  transition: $transition-base;
  transition-property: border-bottom-color;
  @include hover(){
    border-bottom-color: transparent;
  }
  @include plain-hover-focus(){
    text-decoration: none;
  }
  &[href^="#"] {
    border-bottom-style: dotted;
  }
}