.clients__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  .clients:hover &{
    transition: $transition-fade;
    transition-property: opacity;
  }
}