.advantage__title {
  @include GatewayForProperty($h2-font-size, $display2-size, $page-min-width, map_get($grid-breakpoints, 'xxl'));
  font-weight: $font-weight-extrabold;
  line-height: $headings-line-height;
  &:not(:last-of-type){
    margin-bottom: $grid-gutter-width / 1.25;
  }
}