.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  @include GatewayForProperty($h4-font-size, $h3-font-size, $page-min-width, map_get($grid-breakpoints, 'xxl'));
  margin-top: - ($line-height-base + em);
}