.achievement {
  display: flex;
  flex-flow: row nowrap;

  @include media-breakpoint-down(xl){
    padding-top: $grid-gutter-width / 3;
    &:not(:last-child){
      padding-bottom: $grid-gutter-width / 3;
    }
  }
}