.rating__item {
  @for $i from 1 through 5 {
    .rating[data-rating="#{$i}"] &:nth-child(#{6 - $i}){
      &, & ~ .rating__item{
        color: inherit;
        .fi_icon_star-o:before{
          content: map_get($icons, 'star');
        }
      }
    }
  }
  .rating__input:checked ~ & {
    color: inherit;
    &, & ~ .rating__item{

      .fi_icon_star-o:before{
        content: map_get($icons, 'star');
      }
    }
  }
}