.director__about {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  @include GatewayForProperty($h5-font-size, $h3-font-size, $page-min-width, map_get($grid-breakpoints, 'xxl'));
}