.autocomplete-suggestions {
  box-shadow: $box-shadow-down-template;
  display: block;
  width: 100%;
  font-size: $input-font-size-base;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-focus-border-color;
  margin-top: $grid-gutter-width/3;
  border-radius: $input-border-radius;
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: $custom-scroll-bar-size;
  }
  &::-webkit-scrollbar-track{
    background: $gray-500;
  }
  &::-webkit-scrollbar-thumb{
    background: $primary;
  }
  strong {
    color: $primary;
    font-weight: bold;
  }
}

.autocomplete-suggestion {
  padding: $input-padding-y $input-padding-x;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.autocomplete-selected {
  background: $blue-light;
}
.autocomplete-group {
  padding: $input-padding-y $input-padding-x;
  strong {
    display: block;
    border-bottom: 1px solid $body-color;
  }
}