.container_indent{
  @include media-breakpoint-down(md){
    max-width: none !important;
  }
  @include media-breakpoint-up(lg){
    padding-left: $grid-gutter-width*2;
    padding-right: $grid-gutter-width*2;
    margin-left: 0;
  }
}