.advantage__pagination_color {
    @each $color, $value in $colors {
      &_#{$color} {
        .swiper-pagination-bullet{
        border-color: #{$color};
          &-active{
            background-color: #{$color};
          }
      }
    }
  }
}