.about-project {
  position: relative;
  height: $about-project-height;
  transition: $transition-base;
  transition-property: transform;
  will-change: transform;
  transform-style: preserve-3d;

  @include hover(){
    transform: rotateX(90deg);
  }
  @include media-breakpoint-down(md){
    height: $about-project-height / 1.5;
    text-align: center;
  }
}