.advantage__img {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: $transition-fade;
  background-repeat: no-repeat;

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      background-position: $container-max-width/2 0;
    }
  }
  background-size: auto 100%;
  opacity: 0.6;
  pointer-events: none;
  @include media-breakpoint-up(xl){
    display: block;
  }
}